<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game Over</title>
  <body>

    <h3>Your krokokot kill you! R.I.P.</h3>
    <img src="../public/ex_game_over.jpg" alt="game_over">

    <form action="/initialize" method="get">

    <button type="submit" class="btn btn-outline-dark" name="restart" value="">Play again!</button>

  </form>

  </body>
</html>
